{% extends 'base.html' %}

{% block content %}
<div class="container card mt-3 pd-3" style="width: 30rem">
    {% if user.is_authenticated %}
    <h1 class="text-center">Welcome {{ request.user.username }}</h1>
    <a class="btn btn-success mb-2 mt-3 btn-lg" href="{% url 'complaint' %}">NEW COMPLAINT</a>
    <a class="btn btn-info mb-2 mt-3 btn-lg" href="{% url 'complaint_list' %}">YOUR CLAIMS</a>
    {% if messages %}
        
            {% for message in messages %}
                <div class="text-center alert alert-{{ message.tags }}">
                    {{ message|safe }}
                </div>
            {% endfor %}
        
    {% endif %}
    <p>
        You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endif %}
</div>
{% endblock %}